# 環境設定
ENVIRONMENT=dev
DEBUG=1

# API設定
API_HOST=0.0.0.0
API_PORT=8020
API_INTERNAL_PORT=8000

# MySQL設定
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=your_database
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password
MYSQL_PORT=3306

# データベース接続URL
DATABASE_URL=mysql+pymysql://your_user:your_password@mysql:3306/your_database
#DATABASE_URL={プロトコル（MySQL + PyMySQLドライバー）}://{MYSQL_USER}:{MYSQL_PASSWORD}@{ホスト名(Docker Compose のサービス名)}:{MYSQL_PORT}/{MYSQL_DATABASE}

# Git Configuration
GIT_AUTHOR_NAME=your_name
GIT_AUTHOR_EMAIL=your_email@example.com
GIT_COMMITTER_NAME=your_name
GIT_COMMITTER_EMAIL=your_email@example.com
