# 環境設定
ENVIRONMENT=dev
DEBUG=1

# API設定
API_HOST=0.0.0.0
API_PORT=8020
API_INTERNAL_PORT=8000

# PostgreSQL設定
POSTGRES_ROOT_PASSWORD=rootpassword
POSTGRES_DB=historical_figures
POSTGRES_USER=fastapi_user
POSTGRES_PASSWORD=fastapi_password
POSTGRES_PORT=5432

# データベース接続URL
TEST_POSTGRES_DB=test_historical_figures
TEST_POSTGRES_USER=test_user
TEST_POSTGRES_PASSWORD=test_password
TEST_POSTGRES_PORT=5433

# Git Configuration
GIT_AUTHOR_NAME=your_name
GIT_AUTHOR_EMAIL=your_email@example.com
GIT_COMMITTER_NAME=your_name
GIT_COMMITTER_EMAIL=your_email@example.com

API_KEY=dev_api_key